* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #121212;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  padding: 0 20px;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0px; 
}

.title {
  font-size: 60px;
  font-weight: 780;
  background: linear-gradient(90deg, #49c2ff, #8141ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 35px;
  font-weight: 0;
  background: linear-gradient(90deg, #65cafc, #a071ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}

.map-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 24px;
  overflow: hidden;
  border: 4px solid #444;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
  background-color: #1f1f1f;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  transition: filter 0.2s;
}

.card:hover .card-image img {
  filter: brightness(0.8);
}

.card-text {
  z-index: 1;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: white;
  padding: 0 10px;
}

.map-page {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

.map-card {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 24px;
  border: 4px solid #444;
  height: 80vh;
  background-color: #1a1a1a;
  overflow: hidden;
}

.map-card-text {
  z-index: 1;
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.map-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.map-card-header h1 {
  font-size: 28px;
  flex: 1;
  text-align: center;
  margin-right: 50px;
}

.close-button {
  background: transparent;
  border: 2px solid #ccc;
  color: #ccc;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
}

.close-button:hover {
  background: #ccc;
  color: #242424;
}

.section-numbers {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.section-numbers h2 {
  font-size: 32px;
  font-weight: 700px;
  margin-bottom: 24px;
  color: #fff;
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}

.input-group input {
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 2px solid #888;
  border-radius: 12px;
  text-align: center;
  background: #fff;
  color: #000;
  font-weight: bold;
  transition: border 0.2s;
}

.input-group input:focus {
  border-color: #6666ff;
  outline: none;
}

.result {
  font-size: 20px;
  color: #eee;
  background: #2a2a2a;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}


.container {
  border-radius: 16px;
  text-align: center;
  margin: auto;
}

.symbols-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
  gap: 12px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  justify-items: center;
}

.symbol-image {
  width: 85px;
  height: 85px;
  object-fit: contain;
  border-radius: 8px;
  cursor: grab;
  transition: transform 0.2s, border-color 0.2s;
  background-color: #504d4a;
}

.section-selected {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.drop-slot {
  width: 90px;
  height: 90px;
  border: 2px dashed #aaa;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  transition: border-color 0.2s;
}

.drop-slot:hover {
  border-color: #6666ff;
}

.symbol-selected-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
}

.empty-slot {
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 6px;
}

.symbols-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.symbols-subtitle {
  width: 600px;
  position:static;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #6e6e6e;
  text-align: center;
}

.puzzle-hidden {
  display: none;
}

.puzzle-visible {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
}

.tab-buttons button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid #666;
  background: transparent;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.tab-buttons button:hover {
  background: #666;
  color: black;
}

.active-tab {
  background: white;
  color: black;
  border-color: white;
}

.tab-content {
  animation: fadeIn 0.3s ease-in-out;
}

.symbol-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  border: solid #888;
  border-radius: 8px;
  transition: transform 0.2s, border-color 0.2s;
  background-color: #504d4a;
}

.symbol-container:hover {
  transform: scale(1.1);
  border-color: #6666ff;
}

.symbol-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.symbol-extra {
  width: 30px;
  height: 30px;
}

.reckoning-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  text-align: center;
  margin: auto;
}

.objects-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  justify-items: center;
}

.objects-section button{
  font-size: 15px;
  display: grid;
  align-items: center;
  width: 150px;
  text-align: left;
  gap: .30rem;
  padding: 13px 5px;
  border: 2px solid #888;
  background-color: #504d4a;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.objects-section button .oject-name {
  font-weight: 888;
}

.objects-section button .oject-extra {
  font-size: .9rem;
}

.terminus-objects-section {
  font-size: 20px;
  background: #2a2a2a;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 20px;
}

.item-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 6px;
}

.item-selection button img{
  width: 50px;
  height: 50px;
}

.item-selection button {
  border-radius: 6px;
}

.puzzle-header {
  display: flex;
  flex-direction: column;
  align-items: center;

.result-box {
  display: inline-block;
  min-width: 25px;   
  margin: 0 5px;
  text-align: center;
  border-bottom: 2px solid rgb(255, 255, 255); 
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive móvil */
@media (max-width: 768px) {
  .tab-buttons button {
    font-size: 17px;
    width: 90px;
    }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .map-list {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    height: 220px;
  }

  .card-text {
    font-size: 24px;
  }

  .map-card {
    width: 100%;
    height: 70vh;
  }

  .map-card-header h1 {
    font-size: 22px;
    margin-right: 20px;
  }

  .close-button {
    padding: 6px 12px;
    font-size: 14px;
  }

  .input-group {
    gap: 12px;
  }

  .input-group input {
    width: 50px;
    height: 50px;
    font-size: 28px;
    margin: 0 auto;
  }

  .section-numbers h2 {
    font-size: 18px;
  }

  .result {
    font-size: 18px;
  }

  .container {
    padding: 10px;
  }

  .symbols-title {
    font-size: 35px;
  }

  .symbols-subtitle {
    width: 390px;
    position:static;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #6e6e6e;
    text-align: center;
  }

  .symbols-section {
    grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
    gap: 8px;
    padding: 12px;
    margin-bottom: 20px;
  }

  .symbol-image {
    width: 45px;
    height: 45px;
  }

  .section-selected {
    gap: 12px;
    padding: 12px;
  }

  .drop-slot {
    width: 45px;
    height: 45px;
  }

  .symbol-name {
    font-size: 10px;
    font-weight: bold;
    color: white;
  }

  .symbol-extra {
  width: 20px;
  height: 20px;
  }

.reckoning-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  text-align: center;
  margin: auto;
}

.objects-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 12px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  justify-items: center;
}

.objects-section button{
  font-size: 10px;
  display: grid;
  align-items: center;
  width: 90px;
  text-align: left;
  gap: .30rem;
  padding: 13px 5px;
  border: 2px solid #888;
  background-color: #504d4a;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.objects-section button:hover {
  border-color: #3a3a3a;
}

.objects-section button .oject-name {
  font-weight: 888;
}

.objects-section button .oject-extra {
  font-size: .9rem;
}

.item-selection button img{
  width: 40px;
  height: 40px;
}


}

@media (max-width: 500px) {
  .tab-buttons button {
    width: 75px;
    font-size: 15px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .map-list {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    height: 220px;
  }

  .card-text {
    font-size: 24px;
  }

  .map-card {
    width: 100%;
    height: 70vh;
  }

  .map-card-header h1 {
    font-size: 22px;
    margin-right: 20px;
  }

  .close-button {
    padding: 6px 12px;
    font-size: 14px;
  }

  .input-group {
    gap: 12px;
  }

  .input-group input {
    width: 50px;
    height: 50px;
    font-size: 28px;
    margin: 0 auto;
  }

  .section-numbers h2 {
    font-size: 18px;
  }

  .result {
    font-size: 18px;
  }

  .container {
    padding: 10px;
  }

  .symbols-title {
    font-size: 20px;
  }

  .symbols-subtitle {
    width: 300px;
    position:static;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #6e6e6e;
    text-align: center;
  }

  .symbols-section {
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 12px;
    padding: 12px;
  }

  .symbol-image {
    width: 40px;
    height: 40px;
  }

  .section-selected {
    gap: 12px;
    padding: 12px;
  }

  .drop-slot {
    width: 40px;
    height: 40px;
  }

  .symbols-title {
    font-size: 30px;
  }

  .objects-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 40px;
    padding: 17px;
  }

  .objects-section button{
    font-size: 10px;
    width: 150px;
    gap: .35rem;
    padding: 5px 5px;
  }

  .item-selection button img{
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 950px) and (orientation: landscape) {
  .title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .map-list {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .card {
    height: 180px;
  }

  .card-text {
    font-size: 20px;
  }

  .map-card {
    height: 60vh;
  }

  .map-card-header h1 {
    font-size: 20px;
    margin-right: 10px;
  }

  .close-button {
    padding: 4px 10px;
    font-size: 12px;
  }

  .symbols-title {
    font-size: 22px;
  }

  .symbols-section {
    grid-template-columns: repeat(10, 1fr);
    padding: 10px;
  }

  .symbol-image {
    width: 36px;
    height: 36px;
  }

  .section-selected {
    gap: 8px;
    padding: 10px;
  }

  .drop-slot {
    width: 40px;
    height: 40px;
  }

  .input-group input {
    width: 45px;
    height: 45px;
    font-size: 24px;
  }

  .result {
    font-size: 16px;
  }

    .symbols-title {
    font-size: 30px;
  }

  .objects-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 40px;
    padding: 17px;
  }

  .objects-section button{
    font-size: 10px;
    width: 150px;
    gap: .35rem;
    padding: 5px 5px;
  }
}

@media (max-width: 430px) {
  .symbols-title {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .symbols-subtitle {
    width: 300px;
    position:static;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #6e6e6e;
    text-align: center;
  }

  .tab-buttons button {
    width: 68px;
    font-size: 14px;
  }

  .symbols-section {
    gap: 13px;
    padding: 12px;
  }

  .section-selected {
    gap: 6px;
  }

  .reckoning-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  text-align: center;
  margin: auto;
}

.objects-section {
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  gap: 5px;
  margin-bottom: 40px;
  padding: 7px;
}

.objects-section button{
  font-size: 10px;
  width: 90px;
  gap: .35rem;
  padding: 5px 5px;
}
}

@media (max-width: 380px) {
  .symbols-subtitle {
    width: 280px;
    position:static;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #6e6e6e;
    text-align: center;
  }

  .tab-buttons button {
    width: 60px;
    font-size: 12px;
  }

  .tab-buttons{
    gap: 10px;
  }

  .symbols-section {
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
    padding: 10px;
    gap: 8px;
  }

  .symbol-image {
    width: 35px;
    height: 35px;
  }

  .drop-slot {
    width: 35px;
    height: 35px;
  }
}

@media (max-height: 670px) {
  .symbols-title {
    font-size: 19px;
  }

  .symbols-section {
    margin-bottom: 10px;
  }

.item-selection {
  gap: 5px;
  padding: 2.5px;
}

.item-selection button img{
  width: 25px;
  height: 25px;
}
}